body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    background-color: #320488;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
  }

  .custom-btn {
    height: 30px; /* Ajusta el valor según sea necesario */
    line-height: 1.5; /* Ajusta el valor según sea necesario */
  }