.content {
    position: relative;
}

.home-image {
    width: 100%;
    max-height: 485px; /* O ajusta según sea necesario */
    object-fit: cover; /* Esto mantiene las proporciones y recorta la imagen según sea necesario */
}

@keyframes wormAnimation {
    0% {
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
    25% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }
    75% {
        clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
    }
    100% {
        clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    }
}

.company-text {
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: rgb(0, 0, 0); /* Ajusta el color del texto según sea necesario */
    font-size: 24px; /* Ajusta el tamaño de fuente según sea necesario */
    max-width: 50%; /* O ajusta según sea necesario */
    padding: 10px; /* Añade un espacio alrededor del texto */
    background-color: rgba(255, 255, 255, 0.73); /* Fondo blanco semitransparente */
    overflow: hidden; /* Para ocultar el exceso de borde girado */
}

.company-text:before {
    content: ''; /* Crea un pseudo-elemento para representar el borde */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid transparent; /* Añade un borde inicial transparente */
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    animation: wormAnimation 5s infinite linear; /* Aplica la animación al borde */
}

.company-text:hover:before {
    border-color: #6f42c1; /* Cambia el color del borde al pasar el ratón sobre el texto */
    animation: none; /* Detiene la animación al pasar el ratón sobre el texto */
}

.home-image {
    max-width: 100%;
    height: auto;
}

.company-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}


