/* Estilos mejorados para el pie de página sin cambiar los colores */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #555; /* Línea superior para separar el pie de página del contenido */
}

footer div {
    flex: 1;
    text-align: center;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffd700; /* Amarillo dorado al pasar el ratón */
}

/* Estilos para el formulario */
footer form {
    margin-top: 20px;
    text-align: center;
}

footer label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

footer input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #555;
    border-radius: 5px;
}

footer button {
    background-color: #ffd700; /* Amarillo dorado */
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer button:hover {
    background-color: #ffcc00; /* Tono más oscuro de amarillo dorado */
    color: #333;
}
